h1 {
	text-align: center;
}

table {
	border-collapse:collapse;
	margin: auto;
	cursor: pointer;
}

td {
	background-color: grey;
	border: 3px solid white;
	font-size:80px;
	color:#ffffff;

}

.scoreBoard {
	text-align: center;
	width: 100%;
  margin: 0 auto;
}

.child {
	width: 100px;
  	display: inline-block; 
  	color: grey;
}

.score {
	text-align: center;
	width: 100%;
  margin: 0 auto;
}